body {
  text-align: center;
}

#mexicoDiv {
  display: none;
}

#indiaDiv {
  display: none;
}

#singaporeDiv {
  display: none;
}

#egyptDiv {
  display: none;
}

#icelandDiv {
  display: none;
}

#topimg{
  width: 100%;
  position: relative;
  height: 420px;
}

/*img {
  width: 100%;
  height: 400px;
  position: relative;
}*/

.text {
  position: absolute;
  text-align: center;
  top: 3px;
  left: 0;
  font-size: 150px;
  color: #e6cac1;
  font-family: cursive;
}

body {
  background-color: #fff0f8;
}

.samesize {
  height: 200px;
}

#widen {
  width: 220px;
}

.label-text {
  font-size: 35px;
}

.country-pictures {
  height: 400px;
  width: 800px;
}

#nameShow, #costsShow, #cityShow, #historyShow, #crowdsShow, #findvacation {
  display: none;
}
